<!DOCTYPE html>
<html lang="en" ng-app="Dillinger">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>CraftML</title>

  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <!-- Spiders must use meta description -->
  <meta name="robots" content="noodp, noydir">

  <!-- Google Verfication -->
  <meta name="google-site-verification" content="<%= googleWebmasterMeta %>" />

  <!-- Viewport and mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="css/app.css" rel="stylesheet">

</head>
<body>

  <div class="wrapper">

    <div class="sidebar-wrapper">
        <div class="sidebar" ng-controller="SideBar">   
       <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">

        <li ng-repeat="group in exampleGroups" class="menu-item menu-item--link-unlink in-sidebar">
          <a class="menu-link" ng-click="group.collapse = !group.collapse">
          <span ng-bind="group.title"></span> <span class="caret"></span></a>          

          <ul class="sidebar-list" collapse="group.collapse">
                <li ng-repeat="example in group.examples">
                    <a ng-href="#/examples/{{example}}" class="import-dropbox unlinked">
                        <span ng-bind="example"></span>             
                    </a>
                </li>
          </ul>
        </li>        

        </ul>
        </nav> 
                   
      </div>
    </div>
  <div ng-view>
  </div>
</div>

   <script src="http://code.jquery.com/jquery.js"></script>
   <script src="js/main.bundle.js"></script>
   
</body>
</html>
