<html>
	<head>
		<title>Examples</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
		<style>
			body { 
				margin: 0; 
				padding: 5px;
			}
			.viewer { 
				height: 100%;
			}			
			.info{
				position: absolute;						
				padding: 5px;
				color: white;
			}	
			.description{
			}
			.parameters{
				font-size: 80%;
				color: #DDD;
			}					
		</style>		
	</head>
	<body>		
				
    	<div id="editor" class="small-4 columns">
    		<pre><code class="xml"><%= xmlstring %></code></pre>
    	</div>   	    
		<div id="viewer" class="viewer small-8 columns">
		</div>  

		<script>hljs.initHighlightingOnLoad();</script>

		<script src="../js/three.min.js"></script>
		<script src="../js/STLLoader.js"></script>
		<script src="../js/TrackballControls.js"></script>
		<script src="../lib/viewers/stlviewer.js"></script>

		<script>
			var stlstring = <%- JSON.stringify(stlstring) %>;			
    		var viewer = new Viewer(stlstring,'viewer');
			
			animate();
			function animate(){
				requestAnimationFrame(animate);
				viewer.render();
			}
		</script>

	</body>
</html>