<ul class="dropdown dropdown-menu" role="menu" ng-controller="DocumentsExport as export">
  <li>
    <a ng-click="export.asSTL()" class="export-html">STL</a>
  </li>
  <li>
    <a ng-click="export.asSTLBinary()" class="export-styled_html">STL Binary</a>
  </li>
</ul>
