<ul class="dropdown dropdown-menu" role="menu" ng-controller="DocumentsExport as export">
  <li>
    <a ng-href='#' ng-click="asSTL()" class="export-html">STL</a>
  </li>
  <li>
    <a ng-href='#' ng-click="asSTLBinary()" class="export-styled_html">STL Binary</a>
  </li>
</ul>
