// *************************************
//
//   Preview
//   -> Preview styles
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .preview
//
// *************************************

#preview {
  width: 100%;
  height: 100%;
// -------------------------------------
//   Modifiers
// -------------------------------------

// .split--modifier

// -------------------------------------
//   States
// -------------------------------------

// .split.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-split

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .split-scaffolding
  a {
    color: $c-links;
    text-decoration: underline;
  }
}
