<div class="g-b g-b--t1of2 split split-preview" ng-controller="Preview">
  <h3 class="title">Preview</h3>
  <a class="btn btn--new" href="" ng-click="refresh()">Render (SHIFT-RETURN)</a>
<!--   <toggle-zen-mode></toggle-zen-mode> -->
  <div id="preview" preview></div>
</div>
	